
#navparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    align-items: center;
    color: antiquewhite;
}
#item{
    display: flex;
    flex-direction: row;

    flex-grow: 1;
}
#logo img{
    height: 30px;
  padding: 4px;
}
#logo{
    padding: 4px;
}
.child{
    flex-grow: 1;
}
#cta{
    padding:3px;
}
#ctabutton{
    border: 2px solid blanchedalmond;

}
#dead{
    flex-grow: 1;
}
.herosection{
margin: 30px;
    background-color: rgb(245, 175, 230);

    border: 3px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    

}
#hero img{
    margin: 10px;
    height:540px;
    width: 500px;
    

    
}

 img:hover{
    background-color: rgba(34, 34, 119, 0.5);
    opacity: 0.5;
}
#content{
    
    background-color: rgb(245, 175, 230);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    align-items: center;

}
#text{
    display:flex;
    align-items: center;
    justify-content:space-around;
    padding: auto;
}
    


#text p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: medium;
    display:flex;
    align-items: center;
    justify-content:center;
    
    color:black;
    padding: 24px;
    margin: 4px;
     
     width:400px
    }
#text p:hover{
    background-color: rgb(245, 184, 217);
    color: white;
    opacity: 0.4;
}
#button{
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 4px;
    margin: auto;
    

}
.btn{
    background-color: rgb(59, 27, 49);
    color: beige;
    padding: auto;
    height: 50px;
    width :150px;
}
.btn:hover{
    background-color: aqua;
    color: black;
}