#navparent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: rgb(19, 72, 218);
    align-items: center;
}
#item{
    display: flex;
    flex-direction: row;

    flex-grow: 1;
}
#logo img{
    height: 30px;
  padding: 4px;
}
#logo{
    padding: 4px;
}
.child{
    flex-grow: 1;
}
#cta{
    padding:3px;
}
#ctabutton{

}
#dead{
    flex-grow: 1;
}
